[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "themes/Hugo-2-Gopher-and-Gemini"]
	path = themes/Hugo-2-Gopher-and-Gemini
	url = https://github.com/mkamarin/Hugo-2-Gopher-and-Gemini.git
